<a href="https://colab.research.google.com/github/Mifthahuddin/Google-Cloud/blob/main/Posttest_1.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

<h1>Posttest Praktikum Sistem Informasi </h1>

NIM 2109116098

NAMA Mifthahuddin

In [1]:
import pandas as pd
import statistics
import seaborn as sns

In [2]:
df = pd.read_csv("ChurnBank.csv")

In [3]:
df

,Unnamed: 0,CLIENTNUM,Attrition_Flag,Customer_Age,Gender,Education_Level,Marital_Status,Income_Category,Card_Category,Credit_Limit
0,6036,720010608,Attrited Customer,37,M,Unknown,Single,$40K - $60K,Blue,10226.0
1,6684,711323283,Attrited Customer,57,M,Uneducated,Married,$60K - $80K,Blue,2527.0
2,4272,794707083,Attrited Customer,50,M,College,Single,$80K - $120K,Blue,3495.0
3,9759,709657533,Attrited Customer,44,M,High School,Unknown,$120K +,Blue,7793.0
4,4740,716625033,Attrited Customer,32,F,Graduate,Single,Less than $40K,Blue,2761.0
5,9597,715076358,Attrited Customer,57,M,Post-Graduate,Unknown,$80K - $120K,Blue,23714.0
6,5009,804829533,Attrited Customer,59,M,High School,Single,$60K - $80K,Blue,24621.0
7,8200,712144158,Attrited Customer,53,F,Graduate,Single,Less than $40K,Blue,2370.0
8,5016,795599883,Attrited Customer,57,F,Uneducated,Married,Unknown,Blue,2404.0
9,8350,709222008,Attrited Customer,41,M,Unknown,Single,$80K - $120K,Blue,4742.0
10,8139,809844108,Existing Customer,48,M,Doctorate,Single,$60K - $80K,Blue,8086.0
11,176,716264358,Existing Customer,53,M,Uneducated,Married,$80K - $120K,Blue,26792.0
12,8020,778163508,Existing Customer,37,F,High School,Married,Unknown,Blue,5245.0
13,357,711857733,Existing Customer,49,M,Uneducated,Single,$60K - $80K,Blue,18584.0
14,6562,720070383,Existing Customer,41,F,Uneducated,Single,Unknown,Blue,2429.0
15,4563,809809008,Existing Customer,47,F,Graduate,Married,Less than $40K,Blue,3111.0
16,10084,718161708,Existing Customer,46,F,Graduate,Married,Less than $40K,Blue,7562.0
17,5725,771079833,Existing Customer,40,F,High School,Single,Less than $40K,Blue,1438.3
18,2587,711639708,Existing Customer,42,M,Graduate,Single,$60K - $80K,Blue,1438.3
19,8226,713700258,Existing Customer,55,F,Post-Graduate,Married,Unknown,Blue,2953.0

#Business Understanding
Naive Bayes digunakan untuk berbagai fungsi dalam perusahaan, seperti analisis sentimen, spam filtering, prediksi keputusan bisnis, dan pengelompokan data.
Fungsi dataset dibawah untuk mengelompokan customer

#Data Understanding

In [5]:
df1 = df[df["Attrition_Flag"] == "Attrited Customer"]
df2 = df[df["Attrition_Flag"] != "Attrited Customer"]
df3 = df[df["Customer_Age"] < 50]
df4 = df[df["Marital_Status"] == "Single"]

In [ ]:
# df1 isinya dataset dengan label target AttiredCustomer
df1

In [ ]:
# df2 dengan label bukan Attrired customer
df2

In [ ]:
# df3 dengan tabel untuk usia dibawah 50 tahun
df3

In [ ]:
# df4 untuk customer yang statusnya itu single
df4

In [ ]:
# Fungsi df.info() untuk memberikan info mengenai data frame, tipe data dari setiap kolom, jumlah data, dan apakah terdapat 
# data yang hilang (missing values) dalam setiap kolom. 

df.info()

# Explore Data

# Visualisasi Comparasion

In [ ]:
# menampilkan banyak yang attired customer dan tidak
sns.countplot(data=df,x="Attrition_Flag")

In [ ]:
# menampilkan education level berdasarkan kategori
sns.countplot(data=df,x="Education_Level")

In [ ]:
# menampilkan berapa banyak Education level berdasarkan gender (Male)
sns.countplot(data=df[df["Gender"] == "M"],x="Education_Level")

In [ ]:
# menampilkan berapa banyak Education level berdasarkan gender (Female)
sns.countplot(data=df[df["Gender"] == "F"],x="Education_Level")

<h2> Penjelasan
<h6>menampilkan banyak yang attired customer dan tidak
<h6>menampilkan education level berdasarkan kategori
<h6>menampilkan berapa banyak Education level berdasarkan gender (Male)
<h6> menampilkan berapa banyak Education level berdasarkan gender (Female)

# Visualisasi Distribution

In [ ]:

sns.histplot(data=df,x="Customer_Age")

In [ ]:
sns.histplot(data=df,x="Credit_Limit")

In [ ]:
sns.boxplot(data=df,x="Customer_Age")

In [ ]:
sns.boxplot(data=df,x="Credit_Limit")

<h2> Penjelasan

<h2> Visualisasi Relationship

In [ ]:
sns.scatterplot(data=df,x="Customer_Age",y="Credit_Limit")

<h2> Visualisasi Compotition

In [18]:
import plotly.express as px

In [ ]:
px.pie(df,names="Income_Category")

In [ ]:
px.pie(df,names="Education_Level")

## Algoritma Naive Bayes dan Preprocessing (pengenalan)

In [23]:
import numpy as np
import pandas as pd

# Membaca data training
data_train = pd.read_csv('ChurnBank.csv')

# Menghitung jumlah data training dan data testing
N_train = len(data_train)

# Menghitung jumlah kelas target
target_counts = data_train.groupby('Attrition_Flag')['Attrition_Flag'].count()

# Menghitung probabilitas priori untuk setiap kelas target
prior_prob = target_counts / N_train

# Menghitung probabilitas kondisional untuk setiap fitur pada setiap kelas target
cond_prob = {}
for col in data_train.columns[:-1]:
    cond_prob[col] = {}
    for val in data_train[col].unique():
        for target in data_train['Attrition_Flag'].unique():
            count = len(data_train[(data_train[col] == val) & (data_train['Attrition_Flag'] == target)])
            cond_prob[col][(val, target)] = count / target_counts[target]

# Fungsi Naive Bayes Classifier
def naive_bayes(x):
    prob_yes = prior_prob['Attrited Customer']
    prob_no = prior_prob['Existing Customer']
    for i, col in enumerate(data_train.columns[:-1]):
        try:
          prob_yes *= cond_prob[col][(x[i], 'Attrited Customer')]
          prob_no *= cond_prob[col][(x[i], 'Existing Customer')]
        except IndexError:
            return "Error: the input features are not compatible with the training data"
    if prob_no > prob_yes:
        return ('Existing Customer', prob_no)
    else:
        return ('Attrited Customer', prob_yes)

# Contoh penggunaan fungsi naive_bayes
output = naive_bayes(["F",	"Uneducated","Single", "Unknown","Blue"])
print(output)

KeyError: ignored